<div>Hi,<br/><br/></div>
<div>
    Congratulations! You have successfully purchased Experience on Tasttlig.<br/>
    <br/>
    You can use your Tasttlig Passport Id: <b>{{passport_id}}</b> to get access to the experience.<br/><br/>
    Your Purchase Summary is <br/><br/>
    {{#items}}
        <div>
            Name: {{title}}<br/>
            Location: {{address}}<br/>
            Time: {{time}}<br/>
            Quantity: {{quantity}}<br/><br/>
        </div>
    {{/items}}
</div>