<div>Hello,<br><br></div>
<div>
  Congratulations! You have successfully purchased {{title}} on Tasttlig.<br />
  <br />
  Your Purchase Summary is <br /><br />
  {{#items}}
  <div>
    Name: {{title}}<br />
    Location: {{address}}<br />
    Day: {{day}}<br />
    Time: {{time}}<br />
    Quantity: {{quantity}}<br /><br />
  </div>
  {{/items}}
</div>