<div>
    Tasttlig User: {{first_name}} {{last_name}} with
    email address: {{email}} has submitted
    this document for upgrading to become a {{upgrade_type}}
    <br><br>
</div>
{{#each documents}}
  <div>
      Document Type: {{this.document_type}}<br>
      Document Link: <a href="{{this.document_link}}" target="_blank" rel="noopener noreferrer">{{this.document_link}}</a><br>
      Date of Issue: {{this.issue_date}}<br>
      Date of Expiry: {{this.expiry_date}}
      <br><br>
  </div>
{{/each}}
<div>
    Approve Link: <a href="{{approve_link}}" target="_blank" rel="noopener noreferrer">Approve</a><br><br>
    Reject Link: <a href="{{reject_link}}" target="_blank" rel="noopener noreferrer">Reject</a><br><br>
</div>