<div>
    Tasttlig User: {{first_name}} {{last_name}} with
    email address: {{email}} has submitted
    this document for upgrading to become a {{upgrade_type}}
    <br><br>
</div>
<div>
    Document Type: {{document_type}}<br>
    Link: <a href="{{document_link}}">{{document_link}}</a><br>
    Date of Issue: {{date_of_issue}}<br>
    Date of Expiry: {{date_of_expiry}}
    <br><br>
</div>
<div>
    <a href="{{approve_link}}">Approve</a> or
    <a href="{{reject_link}}">Reject</a><br><br>
</div>