<div>
  Hello {{first_name}} {{last_name}},<br><br>
</div>
<div>
  We’ve created an account on tasttlig.com based on the email address you provided to us.
  Use the following username and password to login into your Tasttlig account for the first time.<br /><br />
  Username: {{email}}<br />
  Password: {{password}}<br /><br />
</div>
<div>
  You can reset your account password using this Password Reset Link: <a href="{{url}}" target="_blank"
    rel="noopener noreferrer">{{url}}</a><br><br>
</div>