<div>Hello,<br><br></div>
<div>
    Please present this coupon to claim your {{title}}.<br><br>
</div>
<div>
    Address: {{address}}, {{city}}, {{state}} {{postal_code}}<br>
    Date: {{start_date}} to {{end_date}}<br>
    Time: {{start_time}} to {{end_time}}<br>
    Description: {{description}}<br>
    Frequency: {{frequency}} until {{end_date}}<br><br>
</div>
<div>
    Ask for {{first_name}} after reaching the restaurant.
</div>
<div>
    For Restaurant Use Only:<br>
    Click here to redeem the coupon
    {{url}}
</div>
<div>
    Code is {{code}}.<br><br>
</div>