<div>Hello {{host_first_name}},<br><br></div>
<div>
    Congratulations! Your food sample, {{title}}, has been reserved by {{first_name}} {{last_name}}. Email: {{email}}<br><br>
</div>
<div>
    Your guests will show their reservation email when they arrive at your restaurant.<br>
    Kindly provide them tasting samples of your menu as advertised.<br>
    Complete your guest visit by clicking this
    <a href="{{url}}" target="_blank" rel="noopener noreferrer">Link</a>.<br>
</div><br>
<a style="font-size: 13px;">
    If the above link does not work, copy and paste the following URL in your browser to complete your visit.<br>
    {{url}}<br>
</a><br><br>
Thank you for participating in tasttlig, we look forward to more successful collaborations.