<div>
    Hi {{first_name}} {{last_name}},<br><br>
</div>
<div>
    We’ve created an account for you based on the email address you provided to us.
    The account helps you better manage your own experiences.
    Use the following username and password to login into your Tasttlig account for the first time.<br/><br/>
    Username: {{email}}<br/>
    Password: {{password}}<br/><br/>
</div>
<div>
    You can reset your account password using this Password Reset Link: <a href="{{url}}">{{url}}</a><br><br>
</div>