<div>Hello,<br><br></div>
<div>
    Your food sample, {{title}}, has been reserved by {{first_name}} {{last_name}} Email: {{email}}<br><br>
</div>
<div>
    After Customer shows the confirmation email on their mobile. You need to confirm on Customer's email or form this email
    <a href="{{url}}">Click here</a> to confirm.
</div>
    If the above link if not working for you copy and open this url on the browser: {{url}}