<div>Hello {{first_name}} {{last_name}},<br><br></div>
<div>
  Please present this coupon to redeem your {{title}}.<br><br>
</div>
<div>
  Address: {{address}}, {{city}}, {{state}} {{postal_code}}<br>
  Date: {{start_date}} to {{end_date}}<br>
  Time: {{start_time}} to {{end_time}}<br>
  Frequency: {{frequency}} until {{end_date}}<br><br>
</div>