<div>Hello,<br><br></div>
<div>
    Your food sample, {{title}}, has been reserved by {{first_name}} {{last_name}} Email: {{email}} and is pending you
    confirmation.<br><br>
</div>
<div>
    <a href="{{url}}">Click here</a> to confirm. An email will be sent to {{first_name}} Email: {{email}} notifying them of your confirmation
</div>