<div>Hello,<br><br></div>
<div>
    Your food sample, {{title}}, has been reserved by {{first_name}} {{last_name}} Email: {{email}} and is pending your
    confirmation.<br><br>
</div>
<div>
    <a href="{{url}}">Click here</a> to confirm. An email will be sent to {{first_name}} Email: {{email}} notifying them of your confirmation.<br><br>
</div>
<div>
    Code for the food sample is {{food_ad_code}}.
</div>