<div>Hello {{first_name}} {{last_name}},<br><br></div>
<div>
    {{host_first_name}} {{host_last_name}} has rejected your request to join {{festival_name}} as a business partner, you can contact the host using phone number {{host_phone}}
</div>