<div>Hello {{first_name}},<br><br></div>
<div>
  Your {{title}} has been redeemed by {{business_name}}!<br>
</div>
<div>
  We hope you enjoyed the food and service!
</div><br>
<div>
  After receiving your food sample, please <a href="{{url}}" target="_blank" rel="noopener noreferrer">click here</a> to
  redirect to Tasttlig's dashboard
  and hit the My Claims tab to send in a review on the restaurant's service and the food. We appreciate your
  feedback!<br>
  <br>
  <a style="font-size: 12px;">
    If above link does not work, copy and paste the following URL in your browser to complete your visit.<br>
    {{url}}<br>
  </a><br>
  Please support the festival by sharing your experience on social media. Use #tasttlig.
</div>