<div>Hello {{first_name}} {{last_name}},<br><br></div>
<div>
    Congratulations! The host {{host_first_name}} {{host_last_name}} has accept your request to join {{festival_name}} as a restaurant partner, you can contact the host using phone number {{host_phone}}
</div>