<div>Hello {{first_name}} {{last_name}},<br><br></div>
<div>
    {{client_first_name}} {{client_last_name}} has applied to become a restaurant partner at your festival {{festival_name}}
    It will be accpet automatically after 72 hours
    If you wish to decline, you can do so on
    <a href="http://localhost:3000/host-review/all-vendor-applicants">
              Dashboard
    </a>
</div>