<div>Hello {{first_name}} {{last_name}},<br /><br /></div>
<div>
  Congratulations! The host
  {{host_first_name}}
  {{host_last_name}}
  has accept your sponsor application on festival
  {{festival_name}}, you can contact the host using phone number
  {{host_phone}}
</div>