<div>Hello {{first_name}} {{last_name}},<br /><br /></div>
<div>
  {{client_first_name}}
  {{client_last_name}}
  has been accepted as a vendor on your festival
  {{festival_name}}
  after application pending
</div>